.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background: #eee;
}

/**
 * Footer Styles
 */

 .footer {
 	position:relative;
 	bottom:0;
 	padding: 1rem;
 	background-color: #efefef;
 	text-align: center;
 	left: 0;
 	right: 0;
 }
 .menu{
 	padding: 2%;
 }
 .loading{
 	visibility: hidden;
 }
 .loader{
 	position:absolute;
 	top:0; bottom:0;
 	left:0; right:0;
 	margin:auto;
 	z-index: 1000;
 }
/*Navbar logo*/
.navbar-brand-logo {
  transform: translateX(-50%);
  left: 50%;
  position: absolute; 
}


/* DEMO example styles for logo image */
.navbar-brand-logo {
  padding: 0px;
}
.navbar-brand-logo>img {
  height: 100%;
  width: 95px;
  padding-top: 5px;
}
